@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  --container-padding: 16px;
}

.container {
  display: grid;
  grid-auto-flow: row;
  gap: 32px;
  padding: var(--container-padding);
}

.selection-button {
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 1em;
  font-family: inherit;
  display: flex;
  justify-content: center;
  font-size: var(--text-font);
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
