@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  --container-padding: 16px;
  --input-color: #a79d9d;
  --button-height: 50px;
}

.container {
  display: grid;
  grid-auto-flow: row;
  gap: 32px;
  padding: calc(2 * var(--container-padding));
}

.text-input {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 1em;
  font-family: inherit;
  text-align: center;
  font-size: var(--text-font);
  background-color: var(--input-color);
}

.submit-button {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 14px;
  height: var(--button-height);
  width: calc(2 * var(--button-height));
  font-size: var(--text-font);
  background-color: var(--button-color);
}

.selection-button {
  border: 1px solid transparent;
  border-radius: 10%;
  padding: 1em;
  height: var(--button-height);
  width: var(--button-height);
  display: block;
  font-size: var(--text-font);
  background-color: var(--button-color);
}
