@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  --container-padding: 16px;
  --layer-01: #f5ebe1;
  --layer-02: #a79d9d;
  --layer-03: #858080;
  --layer-04: #423f3f;
  --text-font: 16px;
  --button-color: var(--layer-04);
  --button-text-color: var(--layer-01);
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: var(--container-padding);
}

.container {
  display: grid;
  grid-auto-flow: row;
  gap: 32px;
}

.selection-button {
  border: 1px solid transparent;
  border-radius: 10%;
  padding: 1em;
  width: 100px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  font-size: var(--text-font);
  background-color: var(--button-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.back-button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  font-family: inherit;
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--text-font);
  transition: opacity 0.25s;

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

input {
  height: 20px;
  padding: 10px 20px;
  box-shadow: none;
  border: 1px solid var(--layer-03);
  border-radius: 5px;
  background-color: var(--layer-02);
}
